.admin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 63px;
    row-gap: 48px;
    border: 1px solid #000;
    padding-block: 80px 20px;
    position: static;
    transform: none;
    max-width: 525px;
}

.admin .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
    padding-block: 30px;
}

.admin-form div {
    width: 100%;
    text-align: left;
}

.admin-label {
    border: none;
    padding: 0;
    background-color: transparent;
    margin-bottom: 5px;
}

.admin-label:hover {
    background-color: transparent;
}

.admin-field {
    background-color: #fff;
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    font-size: 18px;
}

.content-form {
    display: none;
    width: 80%;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}

.content-form.active {
    display: flex;
}

.admin .btn.active {
    background-color: #000;
    color: #fff;
}

#admin-file,
#guide-file {
    display: none;
}

.admin-content {
    display: flex;
    width: 80%;
    justify-content: center;
}
