.admin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 63px;
    row-gap: 48px;
    border: 1px solid #000;
    padding-block: 80px 20px;
    position: static;
    transform: none;
    max-width: 525px;
    width: 80%;
}

.admin .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
    padding-block: 30px;
}

.admin-form div {
    width: 100%;
    text-align: left;
}

.admin-label {
    border: none;
    padding: 0;
    background-color: transparent;
    margin-bottom: 5px;
}

.admin-label:hover {
    background-color: transparent;
}

.admin-field {
    background-color: #fff;
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    font-size: 18px;
}

.content-form {
    display: none;
    width: 95%;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}

.content-form.active {
    display: flex;
}

.admin .btn {
    width: 100%;
}

.admin-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.admin-dashboard {
    flex: 0 0 30%;
    min-width: 250px;
}

.admin .btn.active {
    background-color: #000;
    color: #fff;
}

input[type="file"] {
    display: none;
}

.admin-content {
    display: flex;
    width: 80%;
    justify-content: center;
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-items: end;
    row-gap: 15px;
    font-size: 18px;
    /* align-items: start; */
    width: 100%;
    padding: 15px;
    box-shadow: 0 0 5px #00000049;
}

.order-item img {
    max-width: 100px;
    height: auto;
}

.order-item button,
.btns a {
    text-transform: none;
    padding: 5px;
    border: 1px solid #000;
    color: #000;
    transition: 0.1s;
    display: inline-block;
}

.order-item button:hover,
.btns a:hover {
    color: #fff;
    background-color: #000;
}

.hidden {
    opacity: 0;
    position: absolute;
}

.edit .container,
.edit-form {
    display: flex;
    flex-direction: column;
}

.edit .container {
    row-gap: 35px;
}

.edit-form {
    width: 100%;
    row-gap: 15px;
}

label img {
    max-width: 100px;
}

.btns {
    text-align: end;
}

@media (max-width: 630px) {
    .admin-body {
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }
    .admin-dashboard {
        text-align: center;
    }
}
