.service .container {
    text-align: center;
    padding-block: 55px 80px;
    padding-inline: 0;
    max-width: 1240px;
}

.service-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    margin-bottom: 75px;
}

.service__title {
    font-weight: 600;
    letter-spacing: 0.125em;
    margin-bottom: 65px;
}

.service-item {
    position: relative;
    height: 500px;
    width: 360px;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    background-size: cover;
    cursor: pointer;
    transition: 0.1s;
    overflow: hidden;
}

.item__title {
    max-width: 250px;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.125em;
    color: #ffffff;
    z-index: 10;
}

.item__img {
    position: absolute;
    inset: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: 0.1s;
}

.item-info {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    justify-self: start;
    color: var(--text-color-primary);
    top: -100%;
    padding: 30px;
    text-align: left;
    background-color: #ffffff;
    transition: 0.1s;
    z-index: 15;
    font-size: 20px;
    width: 100%;
}
.item-info p::first-letter {
    text-transform: uppercase;
}

.scalable:hover img {
    scale: 1.1;
}

@media (max-width: 1160px) {
    .service__title {
        margin-bottom: 35px;
    }
}

@media (max-width: 500px) {
    .service .container {
        padding-block: 25px 40px;
    }
}

@media (max-width: 400px) {
    .service-item {
        width: 90%;
        height: 400px;
    }
    .item-info {
        padding: 25px;
    }
}

@media (hover: hover) {
    .service-item:hover .item-info {
        top: 0;
    }
}
