.service .container {
  text-align: center;
  padding-block: 55px 80px;
  padding-inline: 0;
  max-width: 1240px;
}

.service-row {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  margin-bottom: 75px;
}

.service__title {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.125em;
  margin-bottom: 65px;
}

.service-item {
  height: 500px;
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
}

.service-item {
  background-size: cover;
  cursor: pointer;
  transition: 0.1s;
}

.service-item:nth-child(1) {
  background: url("./images/young-woman-getting-beauty-treatment-her-eyebrows\ 2.png")
    no-repeat center;
}
.service-item:nth-child(2) {
  background: url("./images/beautiful-young-woman-going-through-microblading-treatment\ 2.png")
    no-repeat center;
}
.service-item:nth-child(3) {
  background: url("./images/beautiful-young-woman-going-through-microblading-treatment\ 3.png")
    no-repeat center;
}
.service-item:nth-child(4) {
  background: url("./images/young-woman-getting-beauty-treatment-her-eyebrows\ 4.png")
    no-repeat center;
}
.service-item:nth-child(5) {
  background: url("./images/tony-litvyak-V1HlnmgS1fM-unsplash\ 1.png") no-repeat
    center;
}

.service-item:nth-child(6) {
  background: url("./images/beautician-working-client-s-eyebrows\ 1.png")
    no-repeat center;
}

.service-item:hover {
  filter: brightness(1.5);
}

.item__title {
  max-width: 250px;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.125em;
  color: #ffffff;
}
