@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("./fonts.css");

/* common set-up */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    scrollbar-gutter: stable;
}

:root {
    --bg-color-primary: #e8e8e8;
    --header-bg-color: #f3eeeb;
    --text-color-primary: #000;
    --accent-color: #d4b2a6;

    --mark-size-value: 37px;
}

body {
    font-family: "Cormorant", serif;
    background-color: var(--bg-color-primary);
}

body,
a {
    color: var(--text-color-primary);
}

body.lock {
    overflow: hidden;
}

button,
.btn,
[class*="title"] {
    text-transform: uppercase;
}

.wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100dvh;
}

.container {
    max-width: 1210px;
    margin: 0 auto;
    padding-inline: 15px;
}

/* header */

.header-navigation,
.header .container,
.header-info {
    display: flex;
    align-items: center;
}

.header .container {
    padding-block: 1rem;
    justify-content: space-between;
    padding-inline: 15px;
}

.header {
    background-color: var(--header-bg-color);
}

.header-navigation {
    column-gap: 40px;
}
/* header menu */
.menu-icon {
    position: relative;
    width: 33px;
    height: 18px;
    cursor: pointer;
    display: none;
    transition: 0.1s;
}

.menu-icon span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--text-color-primary);
    z-index: 15;
    transition: 0.1s;
}

.menu-icon span:nth-child(1) {
    top: 0;
}

.menu-icon span:nth-child(2) {
    top: calc(50% - 1px);
}

.menu-icon span:nth-child(3) {
    bottom: 0;
}

.menu__body {
    display: flex;
    column-gap: 30px;
    font-size: 11px;
}

.menu__link {
    position: relative;
    overflow: hidden;
}

[class*="__link"]::after {
    content: "";
    height: 1px;
    width: 0;
    left: 0;
    bottom: -3px;
    position: absolute;
    background-color: var(--text-color-primary);
    transition: 0.1s;
}

[class*="__link"]:hover[class*="__link"]::after {
    width: 100%;
}

.header-info,
.info-box {
    display: flex;
}

.header-info {
    column-gap: 75px;
    font-size: 13px;
}

.header-info-wrapper {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.header-logo {
    max-width: 150px;
}

/* main */

.main {
    flex: 1 1 auto;
}

.info-box {
    align-items: flex-start;
    column-gap: 5px;
}

/* main page banner */

.banner .container {
    display: flex;
    position: relative;
    justify-content: end;
}

.banner-text {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    z-index: 1;
    position: absolute;
    left: 85px;
    top: 160px;
    align-items: start;
}

.top-text {
    font-size: 26px;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--accent-color);
    width: 455px;
    font-weight: 500;
    letter-spacing: 0.125em;
}

.title {
    font-family: "Poiret One";
    font-size: 54px;
    font-weight: 400;
    letter-spacing: 27.54px;
}

.bottom-text {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 2.75px;
    max-width: 390px;
    margin-bottom: 80px;
}

.banner-img {
    flex: 0 0 50%;
}

.btn {
    padding: 12px 64px;
    border: 1px solid var(--text-color-primary);
    font-weight: 600;
    letter-spacing: 3px;
    max-width: 400px;
    transition: 0.1s;
    border-radius: 0;
}

.btn:hover {
    background-color: #000;
    color: #fff;
}

.banner-btn {
    border: 1px solid var(--accent-color);
    background-color: transparent;
}

.banner-btn:hover {
    background-color: var(--accent-color);
    color: var(--bg-color-primary);
}

.footer {
    background-color: var(--header-bg-color);
}

.footer .container {
    text-align: center;
    padding-block: 40px;
    position: relative;
}

.footer .container span {
    color: var(--text-color-primary);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2.25px;
}

.footer-logo {
    position: absolute;
    left: 0;
    top: 17px;
}

.quick-info .container {
    position: relative;
    display: flex;
    justify-content: start;
}

.quick-info__image {
    max-width: 710px;
    height: 680px;
    transform: translateX(-30px);
}

.info {
    display: flex;
    flex-direction: column;
    row-gap: 110px;
    max-width: 580px;
    flex: 0 0 50%;
    align-items: end;
    justify-content: center;
}

.info-title {
    text-align: left;
    font-weight: 600;
    letter-spacing: 3.25px;
}

.info-list {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    list-style: none;
}

.info__item {
    letter-spacing: 2.75px;
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.info__item::before {
    content: "1";
    border: 1px solid var(--text-color-primary);
    display: inline-flex;
    justify-content: center;
    align-items: end;
    min-width: var(--mark-size-value);
    height: var(--mark-size-value);
    border-radius: 50%;
    font-size: var(--mark-size-value);
}

.info__item:nth-child(2)::before {
    content: "2";
}

.info-warning {
    text-align: center;
    letter-spacing: 2.75px;
    max-width: 390px;
}

dialog {
    padding: 50px;
    width: 80%;
    height: 80%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.dialog-title {
    font-weight: 700;
}

.contacts-card {
    text-align: center;
    width: 610px;
    position: absolute;
    top: 20%;
    left: 10%;
    background-color: var(--accent-color);
    padding: 28px 50px 40px;
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0.125em;
}

.contacts-card a {
    color: #fff;
}

.contacts-title {
    font-size: 24px;
    margin-bottom: 30px;
}

.contacts-info {
    text-align: left;
    margin-bottom: 60px;
}

.contacts-info a {
    position: relative;
}

.contacts-info div {
    margin-bottom: 35px;
}

.info__title {
    margin-bottom: 10px;
}

.contact__link::after {
    background-color: #fff;
}

.contacts-media {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.contacts-media a {
    transition: 0.1s;
}

.contacts-close {
    display: none;
}

.contacts-close i {
    pointer-events: none;
}

.contacts-media a:hover {
    filter: brightness(0.9);
}

.about .container {
    padding-block: 70px 120px;
    text-align: center;
}

.about-title {
    font-weight: 700;
    letter-spacing: 0.125em;
    margin-bottom: 50px;
}

.about-content {
    display: flex;
    column-gap: 45px;
    align-items: start;
    row-gap: 60px;
}

.about-text {
    line-height: 29px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: inherit;
}

dialog form {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    position: absolute;
    width: 70%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-input {
    border: 1px solid var(--text-color-primary);
    padding: 10px;
    width: 100%;
}

.close-popup {
    position: absolute;
    right: 5%;
    top: 5%;
}

.guide .container {
    text-align: center;
    padding-block: 70px;
    font-size: 24px;
}

.guide-title {
    margin-bottom: 40px;
}

.guide-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin-bottom: 30px;
}

.guide-text li {
    list-style: disc;
    margin-left: 35px;
}
@media (max-height: 786px) or (max-width: 1240px) {
    .contacts-card {
        transition: 0.1s;
        width: 455px;
        top: 15%;
        left: 5%;
        font-size: 18px;
        padding: 20px 30px 20px;
    }
    .contacts-title {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .contacts-info {
        margin-bottom: 30px;
    }
}

@media (max-height: 585px) or (max-width: 758px) {
    .contacts-card {
        width: 100%;
        height: 70%;
        top: 50%;
        transform: translateY(-50%);
        left: -90%;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px 60px;
    }
    .contacts-card.active {
        left: 0;
    }
    .contacts-card.active .contacts-close {
        display: var(--fa-display, inline-block);
    }
    .contacts-title {
        font-size: 16px;
    }
    .contacts-title,
    .contacts-info {
        margin: 0;
    }
}

@media (max-width: 1240px) {
    :root {
        --mark-size-value: 30px;
    }
    .info-warning {
        max-width: 260px;
    }
    .quick-info .container {
        justify-content: space-around;
    }
    .quick-info__image {
        max-width: 50%;
        height: auto;
        transform: none;
    }
    .banner-img {
        height: auto;
    }
    .info {
        row-gap: 65px;
        max-width: 530px;
        transform: none;
    }
    .info-list {
        row-gap: 45px;
    }
}

@media (max-width: 1160px) {
    :root {
        --mark-size-value: 20px;
    }
    .about-content {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
    .header-info {
        column-gap: 35px;
    }
    .info {
        row-gap: 35px;
        max-width: 490px;
    }
    .info-list {
        row-gap: 30px;
    }
    .banner-text {
        top: 115px;
    }
    .title {
        font-size: 46px;
        letter-spacing: 23.54px;
    }
    .bottom-text {
        margin-bottom: 50px;
    }
}

@media (max-width: 1024px) {
    :root {
        --mark-size-value: 20px;
    }
    .menu__body {
        column-gap: 15px;
    }
    .info {
        row-gap: 20px;
        max-width: 450px;
    }
    .banner-btn {
        padding: 10px 60px;
    }
}

@media (max-width: 950px) {
    dialog {
        padding: 30px;
    }
    .menu__body {
        position: absolute;
        width: 100%;
        height: 100%;
        top: -1000%;
        left: 0;
        flex-direction: column;
        align-items: center;
        padding-block: 45px;
        row-gap: 45px;
        background-color: #fff;
        overflow: scroll;
        z-index: 10;
        font-size: 24px;
        transition: 0.1s;
    }

    .menu__body.active {
        top: 0;
    }

    .menu-icon {
        display: block;
    }
    .menu-icon.active span:nth-child(2) {
        scale: 0;
    }
    .menu-icon.active span {
        top: 50%;
    }
    .menu-icon.active span:nth-child(1) {
        transform: rotate(45deg);
    }
    .menu-icon.active span:nth-child(3) {
        transform: rotate(-45deg);
    }
    .quick-info .container {
        padding: 30px;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
    .quick-info__image {
        display: none;
    }
    .banner-text {
        top: 75px;
        left: 55px;
    }
    .top-text {
        font-size: 22px;
        width: 380px;
    }
    .bottom-text {
        font-size: 18px;
        margin-bottom: 30px;
        letter-spacing: 1.75px;
        max-width: 355px;
    }
    .title {
        font-size: 40px;
        letter-spacing: 21.54px;
    }
}

@media (max-width: 825px) {
    .top-text {
        font-size: 16px;
        width: 290px;
    }
    .title {
        font-size: 26px;
        letter-spacing: 15.54px;
    }
    .bottom-text {
        font-size: 16px;
    }
    .bottom-text {
        max-width: 325px;
    }
    .banner-btn {
        padding-inline: 40px;
    }
}

@media (max-width: 650px) {
    .banner-text {
        top: 55px;
        left: 35px;
    }
    .bottom-text {
        font-size: 14px;
    }
    .bottom-text {
        max-width: 295px;
    }
}

@media (max-width: 600px) {
    .header-info {
        font-size: 10px;
        flex-direction: column;
        align-items: start;
        row-gap: 10px;
    }
    .info-box img {
        width: 12px;
    }
    .top-text {
        font-size: 12px;
        width: 230px;
    }
    .title {
        font-size: 22px;
        letter-spacing: 13.54px;
    }
    .bottom-text {
        font-size: 13px;
    }
    .bottom-text {
        max-width: 275px;
        margin-bottom: 15px;
    }
    .banner-btn {
        padding-inline: 20px;
    }
    .footer .container {
        padding-block: 40px;
    }
}

@media (max-width: 520px) {
    .top-text {
        font-size: 11px;
        width: 205px;
        padding-bottom: 8px;
    }
    .title {
        font-size: 18px;
        letter-spacing: 7.54px;
    }
    .bottom-text,
    .banner-btn {
        font-size: 12px;
    }
    .bottom-text {
        margin-bottom: 10px;
        letter-spacing: 0.5px;
        max-width: 190px;
    }
    .banner-btn {
        padding-inline: 20px;
    }
    .banner-text {
        top: 35px;
        left: 25px;
    }
}
@media (max-width: 465px) {
    .service-item {
        width: 90%;
    }
    .top-text {
        font-size: 9px;
        width: 165px;
    }
    .bottom-text,
    .banner-btn {
        font-size: 9px;
    }
    .bottom-text {
        max-width: 155px;
    }
    .banner-text {
        top: 25px;
        left: 15px;
        row-gap: 10px;
    }
    .banner-btn {
        letter-spacing: 1px;
        padding: 5px 15px;
    }
    .footer .container span {
        font-size: 12px;
    }
    .footer-logo {
        width: 75px;
    }
    .contacts-media a {
        max-width: 35px;
    }
}

@media (max-width: 365px) {
    .top-text {
        width: 155px;
    }
    .title {
        font-size: 16px;
    }
    .bottom-text {
        max-width: 140px;
    }
}

@media (min-height: 519px) and (max-width: 640px) {
    dialog {
        height: 390px;
    }
}
@media (max-height: 454px) {
    form {
        row-gap: 25px;
        top: 60%;
    }
}
@media (max-height: 395px) {
    dialog {
        padding: 20px;
    }
}

@media (max-height: 295px) {
    form {
        row-gap: 10px;
    }
}

.time-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 25px;
}

.time-item {
    display: flex;
    flex-wrap: wrap;
    max-height: 150px;
    overflow-y: auto;
    gap: 20px;
}

label {
    display: block;
    padding: 8px 20px;
    border: 1px solid var(--text-color-primary);
    font-size: 18px;
    transition: 0.1s;
}

label:hover {
    background-color: #f1f1f1;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background-color: #000;
    color: #fff;
}
