@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --bg-color-primary: #e8e8e8;
  --header-bg-color: #f3eeeb;
  --text-color-primary: #000;
}

body,
a {
  color: var(--text-color-primary);
}

body {
  font-family: "Cormorant", serif;
  background-color: var(--bg-color-primary);
}

.wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100dvh;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
}

.header-navigation,
.header .container,
.header-info {
  display: flex;
  align-items: center;
}

.header-navigation {
  column-gap: 40px;
}

.header {
  background-color: var(--header-bg-color);
}

.header .container {
  padding-block: 1rem;
  justify-content: space-between;
}

.menu__body {
  display: flex;
  column-gap: 30px;
  font-size: 11px;
}

.menu__link {
  position: relative;
  overflow: hidden;
}

.menu__link::after {
  content: "";
  height: 1px;
  width: 0;
  left: 0;
  bottom: -3px;
  position: absolute;
  background-color: var(--text-color-primary);
  transition: 0.1s;
}

.menu__link:hover.menu__link::after {
  width: 100%;
}

.header-info,
.info-box {
  display: flex;
}

.header-info {
  column-gap: 75px;
  font-size: 13px;
}

.main {
  flex: 1 1 auto;
}

.info-box {
  align-items: flex-start;
  column-gap: 5px;
}

.banner .container {
  display: flex;
  position: relative;
  justify-content: end;
}

.banner-title {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  z-index: 1;
  position: absolute;
  left: 85px;
  top: 160px;
  align-items: start;
}

.top-title {
  font-size: 26px;
  padding-bottom: 15px;
  border-bottom: 2px solid #d4b2a6;
  max-width: 455px;
}

.title {
  font-family: "Poiret One";
  font-size: 54px;
  font-weight: 400;
  letter-spacing: 27.54px;
}

.bottom-title {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 2.75px;
  max-width: 390px;
  margin-bottom: 80px;
}

.banner-img {
  height: 680px;
  background-color: #d4b2a6;
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.btn {
  padding: 12px 74px;
  border: 1px solid #d4b2a6;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 3px;
  max-width: 400px;
  transition: 0.1s;
}

.banner-btn {
  border: 1px solid #d4b2a6;
  background-color: transparent;
}

.banner-btn:hover {
  background-color: #d4b2a6;
  color: var(--bg-color-primary);
}

.footer {
  background-color: var(--header-bg-color);
}

.footer .container {
  text-align: center;
  padding-block: 40px 75px;
  position: relative;
}

.footer .container span {
  color: var(--text-color-primary);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2.25px;
}

.footer-logo {
  position: absolute;
  left: 0;
  top: 17px;
}

.quick-info .container {
  position: relative;
  display: flex;
  justify-content: start;
}

.quick-info__image {
  max-width: 710px;
  height: 680px;
  transform: translateX(-100px);
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 110px;
  position: absolute;
  max-width: 580px;
  right: -15px;
  top: 70px;
  align-items: end;
}

.info-title {
  text-align: left;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 3.25px;
}

.info-list {
  display: flex;
  flex-direction: column;
  row-gap: 70px;
  list-style: none;
}

.info__item {
  font-size: 22px;
  letter-spacing: 2.75px;
  display: flex;
  column-gap: 15px;
  align-items: center;
}

.info__item::before {
  content: "1";
  border: 1px solid var(--text-color-primary);
  display: inline-flex;
  justify-content: center;
  align-items: end;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 40px;
}

.info-warning {
  text-align: center;
  font-size: 22px;
  letter-spacing: 2.75px;
  max-width: 390px;
}

dialog {
  padding: 50px;
  width: 80%;
  height: 80%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  border-radius: 10px;
}
